.page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  
.search-area{
    width:50%;
    align-self: center;
    margin-bottom: 20px;
}

.display-area{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
  }